<div class="container">
  <!-- Títol de l'aplicació -->
  <h1>Pokédex</h1>
  <div>
    <h3>CERCA AMB HTTP (PokeAPI)</h3>
    <form [formGroup]="searchForm">
      <input type="text" formControlName="searchTerm" placeholder="Cerca pokemon">
      @if (searchTermControl?.invalid && searchTermControl?.touched){
        <p>Mínim 2 caràcters</p>
      }
      
      @if(searching) {
        <p>Buscant...</p>
      }

      @if(searchResult){
        <div>
          <h3>Resultat de la cerca: </h3>
          <app-pokemon [pokemon]="searchResult"></app-pokemon>
        </div>
      }@else if(searchTermControl?.valid && !searching && searchTermControl?.value) {
        <p>No s'ha trobat cap pokemon</p>

      }
    </form>
  </div>

  <!-- Secció de Pokemons sense Like -->
  @if (loading) {
  <div>
    <p>Carregant pokemons</p>
  </div>
  } @else if (error) {
  <div>
    <p> {{error}}</p>
  </div>
  } @else {
  <section class="pokemon-section">
    <h2>Pokemons Disponibles</h2>
    <!-- Grid de Pokemons utilitzant @for per iterar sobre la llista -->
    <div class="pokemon-grid">
      <!-- @for per recórrer tots els Pokemons que NO tenen like (liked === false) -->
      @for (pokemon of pokemons; track pokemon.id) {
      <!-- @if per mostrar només els que no tenen like -->
      @if (!pokemon.liked) {
      <!-- Component Pokemon amb:
               - [pokemon]: property binding per passar l'objecte pokemon com a input
               - (pokemonChanged): event binding per capturar l'event del component fill -->
      <app-pokemon [pokemon]="pokemon" (pokemonChanged)="updatePokemon($event)">
      </app-pokemon>
      }
      }
    </div>
  </section>

  <!-- Secció de Pokemons amb Like -->
  <section class="pokemon-section">
    <h2>Pokemons amb Like</h2>

    <!-- Grid de Pokemons amb Like utilitzant @for -->
    <div class="pokemon-grid">
      <!-- @for per recórrer tots els Pokemons que tenen like (liked === true) -->
      @for (pokemon of pokemons; track pokemon.id) {
      <!-- @if per mostrar només els que tenen like -->
      @if (pokemon.liked) {
      <!-- Component Pokemon amb property i event binding -->
      <app-pokemon [pokemon]="pokemon" (pokemonChanged)="updatePokemon($event)">
      </app-pokemon>
      }
      }
    </div>
  </section>
  }
</div>